<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Revisor Login</title>
    <link rel="stylesheet" type="text/css" href="/revisorLoginside.css">
</head>
<%- include('layouts/navbar');-%>
<body>
<div id="oversigt">
<h1> Revisor Login </h1>

    <span> Du er logget ind som:<br>
        <%= revisor.Fornavn %> <%= revisor.Efternavn%>
    </span><br>

<h2>Oversigt over møder:</h2>
    <% for (var i=0; i< moedes.length; i++) { %>
    <span>
        <h3>Møde info:</h3>

        Kunde navn:<br>
            <%= moedes[i].kundenavn%><br>
        <br>
        Kunde E-mail:<br>
            <%= moedes[i].email%><br>
         <br>
        Kunde Tlf:<br>
            <%= moedes[i].tlf%><br>
        <br>
        Dato og tid for afholdelse: <br>
            <%= moedes[i].dato%><br>
        <br>
        Evt. kommentarer:<br>
            <%= moedes[i].kommentar%><br>
    </span>
        <br>
            <button type="submit" name="moedeSlet" onclick="delete_moede()"> Slet Møde </button><br><br>
    <% }   %>
    </form>
</div>
</body>
</html>