<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Revisor Login</title>
    <link rel="stylesheet" type="text/css" href="/revisorLoginside.css">
</head>
<%- include('layouts/navbar');-%>
<body>

<h1> Revisor Login </h1>

    <span> Du er logget ind som:<br>
        <%= revisor.Fornavn %> <%= revisor.Efternavn%>
    </span><br>

<h2>Oversigt over møder:</h2>

    <% for (var i=0; i< moedes.length; i++) { %>
        <span>
        <h3>Møde info:</h3>


        Kunde navn:<br>
            <%= moedes[i].kundenavn%><br>
        <br>
        Kunde E-mail:<br>
            <%= moedes[i].email%><br>
         <br>
        Kunde Tlf:<br>
            <%= moedes[i].tlf%><br>
        <br>
        Dato og tid for afholdelse: <br>
            <%= moedes[i].dato%><br>
        <br>
        Evt. kommentarer:<br>
            <%= moedes[i].kommentar%><br>
    </span>

        <a href="/sletprofil/<%= moedes[i]._id%>"> Slet Møde </a>
    <% }   %>


<!-- <%%> tags bliver brugt til at kunne indsætte data fra db på siden  -->

<form action="/redigerRevisor/<%= revisor._id%>" method="POST"  id="redigerRevisorForm" class="redigerRevisor">

    <div class="redigerRevisorinput">
        <br/> <input type="text" name="Fornavn" id="Fornavn" placeholder="Fornavn"><br/>
    </div>
    <span id="fejlFornavn" class="fejlbesked"></span><br><br>

    <div class="redigerRevisorinput">
        <br/> <input type="text" name="Efternavn" id="Efternavn" placeholder="Efternavn"><br/>
    </div>
    <span id="fejlEfternavn" class="fejlbesked"></span><br><br>

    <div class="redigerRevisorinput">
        <br/> <input type="text" name="Email" id="Email" placeholder="Email"><br/>
    </div>
    <span id="fejlEmail" class="fejlbesked"></span><br><br>

    <div class="redigerRevisorinput">
        <br/> <input type="number" name="Tlf" id="Tlf" placeholder="Tlf nr."><br/>
    </div>
    <span id="fejlTlf" class="fejlbesked"></span><br><br>


    <div class="redigerRevisorinput">
        <br/> <input type="text" class="form-control" name="Brugernavn" id="Brugernavn" placeholder="Brugernavn"><br/>
    </div>
    <span id="fejlBrugernavn" class="fejlbesked"></span><br><br>

    <div class="redigerRevisorinput">
        <br/> <input type="password" class="form-control" name="Kodeord" id="Kodeord" placeholder="Kodeord"><br/>
    </div>
    <span id="fejlKodeord" class="fejlbesked"></span><br><br>

    <!-- knap til at opdatere/replace ting i revisor -->
    <button type="submit"  id="redigerRevisorSubmit" class="redigerRevisorSubmit"> Rediger dine informationer </button><br/><br/>
</form>

</body>
</html>